/* fonts */

$mainFont: 'Work Sans',
sans-serif;
$serifTypefaces: 'Lora',
serif;
$sansSerif: 'Roboto',
sans-serif;

/* colors */

$darkColor: #292F42;
$mainColor: #6F7583;
$green: #86BE26;
$lightGreen: #9DD241;
$white: #FDFDFD;
